# Project place file
/RobloxFightingGameFramework.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock
src/Workspace/Battle AIRework GAMMAZX/Animate.meta.json
src/Workspace/Battle AIRework GAMMAZX/Animate.server.lua
src/Workspace/Battle AIRework GAMMAZX/AttackRoutine.lua
src/Workspace/Battle AIRework GAMMAZX/Health.server.lua
src/Workspace/Battle AIRework GAMMAZX/init.meta.json
src/Workspace/Battle AIRework GAMMAZX/Main.server.lua
src/Workspace/Battle AIRework GAMMAZX/NormalRoutine.lua
src/Workspace/Battle AIRework GAMMAZX/CharacterSample/init.meta.json
src/Workspace/Battle AIRework GAMMAZX/CharacterSample/CharacterState/CharacterStateModule.lua
src/Workspace/Battle AIRework GAMMAZX/CharacterSample/CharacterState/init.meta.json
src/Workspace/Battle AIRework GAMMAZX/CharacterSample/Controls/ControlsModule.lua
src/Workspace/Battle AIRework GAMMAZX/CharacterSample/Controls/init.meta.json
src/Workspace/Battle AIRework GAMMAZX/CharacterSample/DataParams/DataParamsModule.lua
src/Workspace/Battle AIRework GAMMAZX/CharacterSample/DataParams/init.meta.json
src/Workspace/Battle AIRework GAMMAZX1/Animate.meta.json
src/Workspace/Battle AIRework GAMMAZX1/Animate.server.lua
src/Workspace/Battle AIRework GAMMAZX1/AttackRoutine.lua
src/Workspace/Battle AIRework GAMMAZX1/Health.server.lua
src/Workspace/Battle AIRework GAMMAZX1/init.meta.json
src/Workspace/Battle AIRework GAMMAZX1/Main.server.lua
src/Workspace/Battle AIRework GAMMAZX1/NormalRoutine.lua
src/Workspace/Battle AIRework GAMMAZX1/CharacterSample/init.meta.json
src/Workspace/Battle AIRework GAMMAZX1/CharacterSample/CharacterState/CharacterStateModule.lua
src/Workspace/Battle AIRework GAMMAZX1/CharacterSample/CharacterState/init.meta.json
src/Workspace/Battle AIRework GAMMAZX1/CharacterSample/Controls/ControlsModule.lua
src/Workspace/Battle AIRework GAMMAZX1/CharacterSample/Controls/init.meta.json
src/Workspace/Battle AIRework GAMMAZX1/CharacterSample/DataParams/DataParamsModule.lua
src/Workspace/Battle AIRework GAMMAZX1/CharacterSample/DataParams/init.meta.json
src/Workspace/Battle AIRework GAMMAZX2/Animate.meta.json
src/Workspace/Battle AIRework GAMMAZX2/Animate.server.lua
src/Workspace/Battle AIRework GAMMAZX2/AttackRoutine.lua
src/Workspace/Battle AIRework GAMMAZX2/Health.server.lua
src/Workspace/Battle AIRework GAMMAZX2/init.meta.json
src/Workspace/Battle AIRework GAMMAZX2/Main.server.lua
src/Workspace/Battle AIRework GAMMAZX2/NormalRoutine.lua
src/Workspace/Battle AIRework GAMMAZX2/CharacterSample/init.meta.json
src/Workspace/Battle AIRework GAMMAZX2/CharacterSample/CharacterState/CharacterStateModule.lua
src/Workspace/Battle AIRework GAMMAZX2/CharacterSample/CharacterState/init.meta.json
src/Workspace/Battle AIRework GAMMAZX2/CharacterSample/Controls/ControlsModule.lua
src/Workspace/Battle AIRework GAMMAZX2/CharacterSample/Controls/init.meta.json
src/Workspace/Battle AIRework GAMMAZX2/CharacterSample/DataParams/DataParamsModule.lua
src/Workspace/Battle AIRework GAMMAZX2/CharacterSample/DataParams/init.meta.json
src/Workspace/Battle AIRework GAMMAZX3/Animate.meta.json
src/Workspace/Battle AIRework GAMMAZX3/Animate.server.lua
src/Workspace/Battle AIRework GAMMAZX3/AttackRoutine.lua
src/Workspace/Battle AIRework GAMMAZX3/Health.server.lua
src/Workspace/Battle AIRework GAMMAZX3/init.meta.json
src/Workspace/Battle AIRework GAMMAZX3/Main.server.lua
src/Workspace/Battle AIRework GAMMAZX3/NormalRoutine.lua
src/Workspace/Battle AIRework GAMMAZX3/CharacterSample/init.meta.json
src/Workspace/Battle AIRework GAMMAZX3/CharacterSample/CharacterState/CharacterStateModule.lua
src/Workspace/Battle AIRework GAMMAZX3/CharacterSample/CharacterState/init.meta.json
src/Workspace/Battle AIRework GAMMAZX3/CharacterSample/Controls/ControlsModule.lua
src/Workspace/Battle AIRework GAMMAZX3/CharacterSample/Controls/init.meta.json
src/Workspace/Battle AIRework GAMMAZX3/CharacterSample/DataParams/DataParamsModule.lua
src/Workspace/Battle AIRework GAMMAZX3/CharacterSample/DataParams/init.meta.json
src/Workspace/Battle AIRework GAMMAZX4/Animate.meta.json
src/Workspace/Battle AIRework GAMMAZX4/Animate.server.lua
src/Workspace/Battle AIRework GAMMAZX4/AttackRoutine.lua
src/Workspace/Battle AIRework GAMMAZX4/Health.server.lua
src/Workspace/Battle AIRework GAMMAZX4/init.meta.json
src/Workspace/Battle AIRework GAMMAZX4/Main.server.lua
src/Workspace/Battle AIRework GAMMAZX4/NormalRoutine.lua
src/Workspace/Battle AIRework GAMMAZX4/CharacterSample/init.meta.json
src/Workspace/Battle AIRework GAMMAZX4/CharacterSample/CharacterState/CharacterStateModule.lua
src/Workspace/Battle AIRework GAMMAZX4/CharacterSample/CharacterState/init.meta.json
src/Workspace/Battle AIRework GAMMAZX4/CharacterSample/Controls/ControlsModule.lua
src/Workspace/Battle AIRework GAMMAZX4/CharacterSample/Controls/init.meta.json
src/Workspace/Battle AIRework GAMMAZX4/CharacterSample/DataParams/DataParamsModule.lua
src/Workspace/Battle AIRework GAMMAZX4/CharacterSample/DataParams/init.meta.json
src/Workspace/Battle AIRework GAMMAZX5/Animate.meta.json
src/Workspace/Battle AIRework GAMMAZX5/Animate.server.lua
src/Workspace/Battle AIRework GAMMAZX5/AttackRoutine.lua
src/Workspace/Battle AIRework GAMMAZX5/Health.server.lua
src/Workspace/Battle AIRework GAMMAZX5/init.meta.json
src/Workspace/Battle AIRework GAMMAZX5/Main.server.lua
src/Workspace/Battle AIRework GAMMAZX5/NormalRoutine.lua
src/Workspace/Battle AIRework GAMMAZX5/CharacterSample/init.meta.json
src/Workspace/Battle AIRework GAMMAZX5/CharacterSample/CharacterState/CharacterStateModule.lua
src/Workspace/Battle AIRework GAMMAZX5/CharacterSample/CharacterState/init.meta.json
src/Workspace/Battle AIRework GAMMAZX5/CharacterSample/Controls/ControlsModule.lua
src/Workspace/Battle AIRework GAMMAZX5/CharacterSample/Controls/init.meta.json
src/Workspace/Battle AIRework GAMMAZX5/CharacterSample/DataParams/DataParamsModule.lua
src/Workspace/Battle AIRework GAMMAZX5/CharacterSample/DataParams/init.meta.json
src/Workspace/Battle AIRework GAMMAZXALPHA/Animate.meta.json
src/Workspace/Battle AIRework GAMMAZXALPHA/Animate.server.lua
src/Workspace/Battle AIRework GAMMAZXALPHA/AttackRoutine.lua
src/Workspace/Battle AIRework GAMMAZXALPHA/Health.server.lua
src/Workspace/Battle AIRework GAMMAZXALPHA/init.meta.json
src/Workspace/Battle AIRework GAMMAZXALPHA/Main.server.lua
src/Workspace/Battle AIRework GAMMAZXALPHA/NormalRoutine.lua
src/Workspace/Battle AIRework GAMMAZXALPHA/CharacterSample/init.meta.json
src/Workspace/Battle AIRework GAMMAZXALPHA/CharacterSample/CharacterState/CharacterStateModule.lua
src/Workspace/Battle AIRework GAMMAZXALPHA/CharacterSample/CharacterState/init.meta.json
src/Workspace/Battle AIRework GAMMAZXALPHA/CharacterSample/Controls/ControlsModule.lua
src/Workspace/Battle AIRework GAMMAZXALPHA/CharacterSample/Controls/init.meta.json
src/Workspace/Battle AIRework GAMMAZXALPHA/CharacterSample/DataParams/DataParamsModule.lua
src/Workspace/Battle AIRework GAMMAZXALPHA/CharacterSample/DataParams/init.meta.json
src/Workspace/Battle AIRework GAMMAZXBETA/Animate.meta.json
src/Workspace/Battle AIRework GAMMAZXBETA/Animate.server.lua
src/Workspace/Battle AIRework GAMMAZXBETA/AttackRoutine.lua
src/Workspace/Battle AIRework GAMMAZXBETA/Health.server.lua
src/Workspace/Battle AIRework GAMMAZXBETA/init.meta.json
src/Workspace/Battle AIRework GAMMAZXBETA/Main.server.lua
src/Workspace/Battle AIRework GAMMAZXBETA/NormalRoutine.lua
src/Workspace/Battle AIRework GAMMAZXBETA/CharacterSample/init.meta.json
src/Workspace/Battle AIRework GAMMAZXBETA/CharacterSample/CharacterState/CharacterStateModule.lua
src/Workspace/Battle AIRework GAMMAZXBETA/CharacterSample/CharacterState/init.meta.json
src/Workspace/Battle AIRework GAMMAZXBETA/CharacterSample/Controls/ControlsModule.lua
src/Workspace/Battle AIRework GAMMAZXBETA/CharacterSample/Controls/init.meta.json
src/Workspace/Battle AIRework GAMMAZXBETA/CharacterSample/DataParams/DataParamsModule.lua
src/Workspace/Battle AIRework GAMMAZXBETA/CharacterSample/DataParams/init.meta.json
src/Workspace/Battle AIRework GAMMAZXFINAL/Animate.meta.json
src/Workspace/Battle AIRework GAMMAZXFINAL/Animate.server.lua
src/Workspace/Battle AIRework GAMMAZXFINAL/AttackRoutine.lua
src/Workspace/Battle AIRework GAMMAZXFINAL/Health.server.lua
src/Workspace/Battle AIRework GAMMAZXFINAL/init.meta.json
src/Workspace/Battle AIRework GAMMAZXFINAL/Main.server.lua
src/Workspace/Battle AIRework GAMMAZXFINAL/NormalRoutine.lua
src/Workspace/Battle AIRework GAMMAZXFINAL/CharacterSample/init.meta.json
src/Workspace/Battle AIRework GAMMAZXFINAL/CharacterSample/CharacterState/CharacterStateModule.lua
src/Workspace/Battle AIRework GAMMAZXFINAL/CharacterSample/CharacterState/init.meta.json
src/Workspace/Battle AIRework GAMMAZXFINAL/CharacterSample/Controls/ControlsModule.lua
src/Workspace/Battle AIRework GAMMAZXFINAL/CharacterSample/Controls/init.meta.json
src/Workspace/Battle AIRework GAMMAZXFINAL/CharacterSample/DataParams/DataParamsModule.lua
src/Workspace/Battle AIRework GAMMAZXFINAL/CharacterSample/DataParams/init.meta.json
src/Workspace/Battle AIRework GAMMAZXGAMMA/Animate.meta.json
src/Workspace/Battle AIRework GAMMAZXGAMMA/Animate.server.lua
src/Workspace/Battle AIRework GAMMAZXGAMMA/AttackRoutine.lua
src/Workspace/Battle AIRework GAMMAZXGAMMA/Health.server.lua
src/Workspace/Battle AIRework GAMMAZXGAMMA/init.meta.json
src/Workspace/Battle AIRework GAMMAZXGAMMA/Main.server.lua
src/Workspace/Battle AIRework GAMMAZXGAMMA/NormalRoutine.lua
src/Workspace/Battle AIRework GAMMAZXGAMMA/CharacterSample/init.meta.json
src/Workspace/Battle AIRework GAMMAZXGAMMA/CharacterSample/CharacterState/CharacterStateModule.lua
src/Workspace/Battle AIRework GAMMAZXGAMMA/CharacterSample/CharacterState/init.meta.json
src/Workspace/Battle AIRework GAMMAZXGAMMA/CharacterSample/Controls/ControlsModule.lua
src/Workspace/Battle AIRework GAMMAZXGAMMA/CharacterSample/Controls/init.meta.json
src/Workspace/Battle AIRework GAMMAZXGAMMA/CharacterSample/DataParams/DataParamsModule.lua
src/Workspace/Battle AIRework GAMMAZXGAMMA/CharacterSample/DataParams/init.meta.json
src/Workspace/Battle AIRework GAMMAZXNEWKB/Animate.meta.json
src/Workspace/Battle AIRework GAMMAZXNEWKB/Animate.server.lua
src/Workspace/Battle AIRework GAMMAZXNEWKB/AttackRoutine.lua
src/Workspace/Battle AIRework GAMMAZXNEWKB/FindPlayer.server.lua
src/Workspace/Battle AIRework GAMMAZXNEWKB/Health.server.lua
src/Workspace/Battle AIRework GAMMAZXNEWKB/init.meta.json
src/Workspace/Battle AIRework GAMMAZXNEWKB/Main.server.lua
src/Workspace/Battle AIRework GAMMAZXNEWKB/NormalRoutine.lua
src/Workspace/Battle AIRework GAMMAZXNEWKB/CharacterSample/init.meta.json
src/Workspace/Battle AIRework GAMMAZXNEWKB/CharacterSample/CharacterState/CharacterStateModule.lua
src/Workspace/Battle AIRework GAMMAZXNEWKB/CharacterSample/CharacterState/init.meta.json
src/Workspace/Battle AIRework GAMMAZXNEWKB/CharacterSample/Controls/ControlsModule.lua
src/Workspace/Battle AIRework GAMMAZXNEWKB/CharacterSample/Controls/init.meta.json
src/Workspace/Battle AIRework GAMMAZXNEWKB/CharacterSample/DataParams/DataParamsModule.lua
src/Workspace/Battle AIRework GAMMAZXNEWKB/CharacterSample/DataParams/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX/Animate.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX/Animate.server.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX/AttackRoutine.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX/Health.server.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX/Main.server.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX/NormalRoutine.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX/CharacterSample/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX/CharacterSample/CharacterState/CharacterStateModule.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX/CharacterSample/CharacterState/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX/CharacterSample/Controls/ControlsModule.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX/CharacterSample/Controls/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX/CharacterSample/DataParams/DataParamsModule.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX/CharacterSample/DataParams/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX1/Animate.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX1/Animate.server.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX1/AttackRoutine.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX1/Health.server.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX1/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX1/Main.server.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX1/NormalRoutine.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX1/CharacterSample/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX1/CharacterSample/CharacterState/CharacterStateModule.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX1/CharacterSample/CharacterState/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX1/CharacterSample/Controls/ControlsModule.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX1/CharacterSample/Controls/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX1/CharacterSample/DataParams/DataParamsModule.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX1/CharacterSample/DataParams/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX2/Animate.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX2/Animate.server.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX2/AttackRoutine.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX2/Health.server.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX2/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX2/Main.server.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX2/NormalRoutine.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX2/CharacterSample/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX2/CharacterSample/CharacterState/CharacterStateModule.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX2/CharacterSample/CharacterState/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX2/CharacterSample/Controls/ControlsModule.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX2/CharacterSample/Controls/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX2/CharacterSample/DataParams/DataParamsModule.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX2/CharacterSample/DataParams/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX3/Animate.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX3/Animate.server.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX3/AttackRoutine.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX3/Health.server.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX3/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX3/Main.server.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX3/NormalRoutine.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX3/CharacterSample/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX3/CharacterSample/CharacterState/CharacterStateModule.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX3/CharacterSample/CharacterState/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX3/CharacterSample/Controls/ControlsModule.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX3/CharacterSample/Controls/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX3/CharacterSample/DataParams/DataParamsModule.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX3/CharacterSample/DataParams/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX4/Animate.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX4/Animate.server.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX4/AttackRoutine.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX4/Health.server.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX4/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX4/Main.server.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX4/NormalRoutine.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX4/CharacterSample/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX4/CharacterSample/CharacterState/CharacterStateModule.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX4/CharacterSample/CharacterState/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX4/CharacterSample/Controls/ControlsModule.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX4/CharacterSample/Controls/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX4/CharacterSample/DataParams/DataParamsModule.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX4/CharacterSample/DataParams/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX5/Animate.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX5/Animate.server.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX5/AttackRoutine.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX5/Health.server.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX5/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX5/Main.server.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX5/NormalRoutine.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX5/CharacterSample/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX5/CharacterSample/CharacterState/CharacterStateModule.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX5/CharacterSample/CharacterState/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX5/CharacterSample/Controls/ControlsModule.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX5/CharacterSample/Controls/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX5/CharacterSample/DataParams/DataParamsModule.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZX5/CharacterSample/DataParams/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXALPHA/Animate.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXALPHA/Animate.server.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXALPHA/AttackRoutine.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXALPHA/Health.server.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXALPHA/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXALPHA/Main.server.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXALPHA/NormalRoutine.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXALPHA/CharacterSample/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXALPHA/CharacterSample/CharacterState/CharacterStateModule.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXALPHA/CharacterSample/CharacterState/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXALPHA/CharacterSample/Controls/ControlsModule.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXALPHA/CharacterSample/Controls/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXALPHA/CharacterSample/DataParams/DataParamsModule.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXALPHA/CharacterSample/DataParams/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXBETA/Animate.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXBETA/Animate.server.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXBETA/AttackRoutine.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXBETA/Health.server.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXBETA/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXBETA/Main.server.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXBETA/NormalRoutine.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXBETA/CharacterSample/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXBETA/CharacterSample/CharacterState/CharacterStateModule.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXBETA/CharacterSample/CharacterState/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXBETA/CharacterSample/Controls/ControlsModule.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXBETA/CharacterSample/Controls/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXBETA/CharacterSample/DataParams/DataParamsModule.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXBETA/CharacterSample/DataParams/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXFINAL/Animate.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXFINAL/Animate.server.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXFINAL/AttackRoutine.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXFINAL/Health.server.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXFINAL/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXFINAL/Main.server.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXFINAL/NormalRoutine.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXFINAL/CharacterSample/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXFINAL/CharacterSample/CharacterState/CharacterStateModule.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXFINAL/CharacterSample/CharacterState/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXFINAL/CharacterSample/Controls/ControlsModule.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXFINAL/CharacterSample/Controls/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXFINAL/CharacterSample/DataParams/DataParamsModule.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXFINAL/CharacterSample/DataParams/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXGAMMA/Animate.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXGAMMA/Animate.server.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXGAMMA/AttackRoutine.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXGAMMA/Health.server.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXGAMMA/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXGAMMA/Main.server.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXGAMMA/NormalRoutine.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXGAMMA/CharacterSample/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXGAMMA/CharacterSample/CharacterState/CharacterStateModule.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXGAMMA/CharacterSample/CharacterState/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXGAMMA/CharacterSample/Controls/ControlsModule.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXGAMMA/CharacterSample/Controls/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXGAMMA/CharacterSample/DataParams/DataParamsModule.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXGAMMA/CharacterSample/DataParams/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXNEWKB/Animate.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXNEWKB/Animate.server.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXNEWKB/AttackRoutine.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXNEWKB/FindPlayer.server.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXNEWKB/Health.server.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXNEWKB/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXNEWKB/Main.server.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXNEWKB/NormalRoutine.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXNEWKB/CharacterSample/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXNEWKB/CharacterSample/CharacterState/CharacterStateModule.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXNEWKB/CharacterSample/CharacterState/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXNEWKB/CharacterSample/Controls/ControlsModule.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXNEWKB/CharacterSample/Controls/init.meta.json
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXNEWKB/CharacterSample/DataParams/DataParamsModule.lua
FGFrameworkRefractor/src/Workspace/Battle AIRework GAMMAZXNEWKB/CharacterSample/DataParams/init.meta.json
